<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>User Dashboard</title>
</head>

<body>

	<section>
		<div class="card mr-3  ml-1">
			<div class="card-body">
				<h1 class="text-center">Update Contact</h1>

				
				<div class="container-fluid mt-1">

					<div class="row">
						<div class="col-md-10 offset-md-1">

							<form action="#" th:object="${contact}" enctype="multipart/form-data" method="post"
								th:action="@{/user/processupdate}" class="mt-2">


								<input type="hidden" th:value="${contact.cid}" name="cid">

								<!--First name-->

								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fa fa-plus"></i>


										</div>


									</div>

									<input th:value="${contact.name}" required type="text" id="firstName" name="name"
										placeholder="Enter your First name here" class="form-control">
								</div>

								<!--Second name-->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fas fa-user-alt"></i>


										</div>


									</div>

									<input th:value="${contact.secondname}" required type="text" id="secondName"
										name="secondname" placeholder="Enter your Nick name here" class="form-control">
								</div>


								<!--Phone field-->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fa fa-phone"></i>


										</div>


									</div>

									<input th:value="${contact.phone}" required type="number" id="phone" name="phone"
										placeholder="Enter your phone here" class="form-control">
								</div>

								<!--Email field-->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											@

										</div>


									</div>

									<input th:value="${contact.email}" required type="email" id="email" name="email"
										placeholder="Enter your email" class="form-control">
								</div>

								<!--Work field-->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fa fa-briefcase"></i>


										</div>


									</div>

									<input th:value="${contact.work}" required type="text" id="work" name="work"
										placeholder="Enter your work here" class="form-control">
								</div>

								<!--contact description-->

								<textarea th:text="${contact.description}" required
									placeholder="Enter contact description" name="description" id="mytextarea"
									class="form-control" rows="10"></textarea>

								<!--	contact image-->



								<div class="container text-center">

									<img style="width: 250px; height: 250px;" class="mypics"
										th:src="@{'/images/'+${contact.image}}" alt="">

								</div>
								<p class="text-secondary">Choose new profile pic</p>
								<div class="custom-file">

									<input type="file" name="profileImage">

								</div>

								<div class="container text-center">
									<button type="submit" class="btn btn-outline-success">Update Contact</button>

								</div>


							</form>

						</div>

					</div>


				</div>


			</div>

		</div>


	</section>
</body>

</html>