<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>User Dashboard</title>
</head>

<body>

	<section>

		<div class=" container">
			<div class="card">

				<div class="card-body  text-center  my-5">

					<div  class="container">

						<img class="mypics" style="width: 200px; height: 200px;" th:src="@{'/images/contact.png'}"
							alt="profile photo">
					</div>
					
					<h1  class="text-center text-secondary mt-3  font-italic  font-weight-light">
						
						🤷‍♂️Start adding your contact on cloud..click below 😍😍
						
						
					</h1>
					
					<a th:href="@{/user/addcontact}" class="btn btn-primary btn-block  mt-3">Add New Contact</a>
					
					

				</div>


			</div>


		</div>



	</section>
</body>

</html>